# Привет, коллега!

В течение четырех занятий нас ждет полное погружение, которое включает в себя:
1. Получение данных
2. Предобработка данных
3. Раздовательный анализ данных
4. Проверка гипотез
5. Формулирование выводов, рекомендаций и плана возможных действий для мнеджмента компании

#### Данные для задания можно скачать по ссылке: https://drive.google.com/file/d/1pCBXkKTE-Dqf2saOAwCIke08vcG6_voY/view?usp=sharing
#### Для выполнения задания тебе могут пригодится библиотеки:
(some **hint** 
1. import pandas as pd
2. import numpy as np 
3. import datetime
3. import sklearn )

Описание колонок в дата-фрейме:

1) id - уникальный ID записи
2) date_created - дата и время создания заказа
3) order_id - уникальный ID заказа
4) city_name - город заказа
5) date_assembly_started - дата и время начала сборки заказа
6) work_place_id - id места работника, который работает с заказом
7) date_picked - дата и время окончания отбора позиций заказа
8) single_item (булевое значение) - находится ли в заказе 1 товар в количестве 1 штука
9) from_multi_stock_wave (булевое значение) - собирается ли заказ с нескольких складов

Задача №1. Коллега прислал тебе данные для анализа: скачай данные, проверь количество колонок. Если присутствуют лишняя колонка (колонки) - их нужно удалить.

In [21]:
import pandas as pd

data = pd.read_csv('Step_1_Uzum_Academy (1).csv')

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             3000 non-null   int64
 1   id                     3000 non-null   float64
 2   date_created           3000 non-null   object
 3   order_id               2992 non-null   float64
 4   city_name              2992 non-null   object
 5   date_assembly_started  2810 non-null   object
 6   work_place_id          2956 non-null   float64
 7   date_picked            2610 non-null   object
 8   single_item            3000 non-null   bool
 9   from_multi_stock_wave  3000 non-null   bool
 10  dp_id                  2994 non-null   float64
dtypes: bool(2), float64(4), int64(1), object(4)
memory usage: 216.9+ KB

In [23]:
data.head(5)

,Unnamed: 0,id,date_created,order_id,city_name,date_assembly_started,work_place_id,date_picked,single_item,from_multi_stock_wave,dp_id
0,0,131199.099109,2023-10-03 14:15:30.183690,154445.148978,"{""ru"": ""Бухара"", ""uz"": ""Buxoro""} Kuryerlik xiz...",2023-10-03 16:17:51.777480,123.0,2023-10-03 15:51:56.474616,False,False,178.0
1,1,65635.223942,2023-07-02 13:34:55.760787,77009.786410,"{""ru"": ""Ташкент"", ""uz"": ""Toshkent""} ТАШ-25",2023-07-02 15:38:54.143670,107.0,2023-07-02 15:03:36.372913,False,False,69.0
2,2,47216.631063,2023-05-30 12:55:31.324566,54323.211592,"{""ru"": ""Ташкент"", ""uz"": ""Toshkent""} ТАШ-41",2023-05-30 21:50:25.977527,109.0,2023-05-30 21:01:33.655621,False,False,93.0
3,3,66496.840504,2023-07-04 05:54:32.376455,78124.970832,"{""ru"": ""Шахрисабз"", ""uz"": ""Shahrisabz""} ШРЗ-1",2023-07-04 08:58:07.509438,128.0,2023-07-04 07:39:54.982416,False,False,36.0
4,4,3988.887114,2022-12-20 13:30:12.592720,3440.817729,"{""ru"": ""Маргилан"", ""uz"": ""Marg‘ilon""} МРГ-1",2022-12-20 15:25:54.385155,101.0,2022-12-20 14:08:37.492925,False,False,15.0

In [24]:
data = data.drop(['Unnamed: 0','dp_id'], axis=1)

Задача №2. Теперь необходимо проверить кол-во строк и кол-во непустых строк в дата-фрейме. Если в дата-фрейме в какой-либо колонке присутствуют пустые значения - можно удалить целую строку.

In [25]:
empty_cells = (data.isnull().sum())

print(data.info())
print(empty_cells.sort_values())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   float64
 1   date_created           3000 non-null   object
 2   order_id               2992 non-null   float64
 3   city_name              2992 non-null   object
 4   date_assembly_started  2810 non-null   object
 5   work_place_id          2956 non-null   float64
 6   date_picked            2610 non-null   object
 7   single_item            3000 non-null   bool
 8   from_multi_stock_wave  3000 non-null   bool
dtypes: bool(2), float64(3), object(4)
memory usage: 170.1+ KB
None
id                         0
date_created               0
single_item                0
from_multi_stock_wave      0
order_id                   8
city_name                  8
work_place_id             44
date_assembly_started    190
date_picked              390
dtype: int64

In [26]:
data = data.dropna()

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2455 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     2455 non-null   float64
 1   date_created           2455 non-null   object
 2   order_id               2455 non-null   float64
 3   city_name              2455 non-null   object
 4   date_assembly_started  2455 non-null   object
 5   work_place_id          2455 non-null   float64
 6   date_picked            2455 non-null   object
 7   single_item            2455 non-null   bool
 8   from_multi_stock_wave  2455 non-null   bool
dtypes: bool(2), float64(3), object(4)
memory usage: 158.2+ KB

Задача №3. 
Теперь, когда все готово, приступим к главному:
    Твой коллега скинул данные для того, чтобы ты, как аналитик, подсчитал, для какого города заказы собираются быстрее. 
    Таким образом:
    
1) Нужно сравнить date_created и date_assembly_started - сколько времени проходит от создания заказа до начала его сборки в среднем?
2) Нужно сравнить - сколько времени проходит от начала сборки до окончания отбора позиций в среднем?
3) Затем сравнить 2 полученные выше метрики по городам (для какого города время от создания заказа до начала сборки - минимальное? для какого города - максимальное? как бы ты объяснил - почему?)

In [28]:
data.head(5)

,id,date_created,order_id,city_name,date_assembly_started,work_place_id,date_picked,single_item,from_multi_stock_wave
0,131199.099109,2023-10-03 14:15:30.183690,154445.148978,"{""ru"": ""Бухара"", ""uz"": ""Buxoro""} Kuryerlik xiz...",2023-10-03 16:17:51.777480,123.0,2023-10-03 15:51:56.474616,False,False
1,65635.223942,2023-07-02 13:34:55.760787,77009.786410,"{""ru"": ""Ташкент"", ""uz"": ""Toshkent""} ТАШ-25",2023-07-02 15:38:54.143670,107.0,2023-07-02 15:03:36.372913,False,False
2,47216.631063,2023-05-30 12:55:31.324566,54323.211592,"{""ru"": ""Ташкент"", ""uz"": ""Toshkent""} ТАШ-41",2023-05-30 21:50:25.977527,109.0,2023-05-30 21:01:33.655621,False,False
3,66496.840504,2023-07-04 05:54:32.376455,78124.970832,"{""ru"": ""Шахрисабз"", ""uz"": ""Shahrisabz""} ШРЗ-1",2023-07-04 08:58:07.509438,128.0,2023-07-04 07:39:54.982416,False,False
4,3988.887114,2022-12-20 13:30:12.592720,3440.817729,"{""ru"": ""Маргилан"", ""uz"": ""Marg‘ilon""} МРГ-1",2022-12-20 15:25:54.385155,101.0,2022-12-20 14:08:37.492925,False,False

In [29]:
data['date_assembly_started']

0       2023-10-03 16:17:51.777480
1       2023-07-02 15:38:54.143670
2       2023-05-30 21:50:25.977527
3       2023-07-04 08:58:07.509438
4       2022-12-20 15:25:54.385155
                   ...
2995    2023-10-01 11:14:19.794514
2996    2023-10-27 13:05:11.369450
2997    2023-10-08 02:53:45.611252
2998    2023-09-25 18:45:18.701501
2999    2023-09-29 09:01:42.984717
Name: date_assembly_started, Length: 2455, dtype: object

In [30]:
data['date_created'] = pd.to_datetime(data['date_created'])
data['date_assembly_started'] = pd.to_datetime(data['date_assembly_started'])
data['date_picked'] = pd.to_datetime(data['date_picked'])

In [31]:
data["time_diff_creation_to_assembly"] = data["date_assembly_started"] - data["date_created"]

average_time_difference = data["time_diff_creation_to_assembly"].mean()
print(average_time_difference)

0 days 05:18:59.674913933

In [32]:
data['time_diff_assembly_to_picked'] = data['date_picked'] - data['date_assembly_started']

average_time_difference = data['time_diff_assembly_to_picked'].mean()

print(average_time_difference)

-1 days +23:01:31.489799681

In [36]:
min = data.groupby('city_name')['time_diff_creation_to_assembly'].min()
max = data.groupby('city_name')['time_diff_creation_to_assembly'].max()

print('min:', min)
print('\n\nmax:', max)

min: city_name
Toshkent Courier                                                                      0 days 01:23:46.308555
Toshkent ТАШ-2                                                                        0 days 01:09:14.158401
Toshkent ТАШ-5                                                                        0 days 00:57:21.575266
{"ru": "Алмалык", "uz": "Olmaliq"} АЛМ-1                                              0 days 00:36:49.736004
{"ru": "Алмалык", "uz": "Olmaliq"} АЛМ-2                                              0 days 01:35:45.669700
                                                                                               ...
{"uz": "Yaypan", "ru": "\u042f\u0439\u043f\u0430\u043d"} ЯПН-1                        0 days 01:20:46.541477
{"uz": "Zangiota", "ru": "\u0417\u0430\u043d\u0433\u0438\u043e\u0442\u0430"} ЗГН-1    0 days 01:50:42.762950
{"uz": "Zarafshon", "ru": "\u0417\u0430\u0440\u0430\u0444\u0448\u0430\u043d"} ЗАР-1   0 days 01:10:45.418355
{"uz": "Zarafshon", "ru": "\u0417\u0430\u0440\u0430\u0444\u0448\u0430\u043d"} ЗАР-2   0 days 01:05:07.791115
{"uz": "Zarafshon", "ru": "\u0417\u0430\u0440\u0430\u0444\u0448\u0430\u043d"} ЗАР-3   0 days 00:33:12.945502
Name: time_diff_creation_to_assembly, Length: 284, dtype: timedelta64[ns]


max: city_name
Toshkent Courier                                                                      0 days 01:23:46.308555
Toshkent ТАШ-2                                                                        0 days 01:09:14.158401
Toshkent ТАШ-5                                                                        0 days 00:57:21.575266
{"ru": "Алмалык", "uz": "Olmaliq"} АЛМ-1                                              1 days 00:58:46.935294
{"ru": "Алмалык", "uz": "Olmaliq"} АЛМ-2                                              0 days 21:14:49.761832
                                                                                               ...
{"uz": "Yaypan", "ru": "\u042f\u0439\u043f\u0430\u043d"} ЯПН-1                        0 days 05:26:52.784305
{"uz": "Zangiota", "ru": "\u0417\u0430\u043d\u0433\u0438\u043e\u0442\u0430"} ЗГН-1    0 days 06:46:31.736227
{"uz": "Zarafshon", "ru": "\u0417\u0430\u0440\u0430\u0444\u0448\u0430\u043d"} ЗАР-1   0 days 07:12:30.082192
{"uz": "Zarafshon", "ru": "\u0417\u0430\u0440\u0430\u0444\u0448\u0430\u043d"} ЗАР-2   0 days 09:29:45.403778
{"uz": "Zarafshon", "ru": "\u0417\u0430\u0440\u0430\u0444\u0448\u0430\u043d"} ЗАР-3   0 days 02:03:21.152031
Name: time_diff_creation_to_assembly, Length: 284, dtype: timedelta64[ns]

Задача №4. Ты подсчитал среднее время сборки заказа по городам и в целом, однако теперь хочется понять являются ли результаты значимыми. 

1) Проверь распредение сборки заказов в целом (без разделения по городам) - является ли распределение нормальным?
2) Проверь распредение сборки заказов для самого медленного города и для самого быстрого. Являются ли оба эти распределения нормальным?
3) Построй графики плотности распределений и box-plots. Что говорят данные? Как бы ты их интерпретировал? 
5) Проведи 2 статистических теста для проверки нормальности (на выбор) по два теста - на каждый город. О чем говорят метрики? О чем говорит p.value? 
6) Сравни 2 города (самый быстрый и самый медленный), используя параметрический или непараметрический критерий сравнения (в зависимости от пункта 5). 
7) Сделай вывод, относительно результата.

In [69]:
# ...some code here ...

Задача №5. Полученные результаты ты показал коллеге. Он поблагодарил тебя за работу, посмотрел результаты, но вдруг ему в голову пришла гипотеза - а что если на время сборки заказа влияет кол-во заказов на складе в этот день? И действительно! Вероятно, что чем больше заказов было создано в конкретный день, тем медленнее их будут собирать. Ты вызвался проверить эту гипотезу.

Таким образом:

1) Сформируй дата-фрейм, где будет: кол-во заказов (можно брать count по order_id), дата (можно взять дату создания заказа) и среднее время сборки заказа в эту дату. 
2) Построй корреляцию между кол-вом заказов и среднем временем сборки в этот день
3) Построй линейную регрессию для этих же признаков, где зависимая переменная - среднее время сборки заказа. 
4) О чем говорят данные? Что говорят метрики корреляции? Что говорят статистики регрессии? Как бы ты поделился результатом с коллегой, который не очень хорош в математике?

In [ ]:
# ... some code here ...